<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fufuproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FuFuProject">
        <activity
            android:name=".AdminHasya"
            android:exported="true" />
        <activity
            android:name=".AdminDina"
            android:exported="true" />
        <activity
            android:name=".AdminFaiz"
            android:exported="true" />
        <activity
            android:name=".AdminFarhan"
            android:exported="true" />
        <activity
            android:name=".AdminJason"
            android:exported="true" />
        <activity
            android:name=".ViewHistory"
            android:exported="true" />
        <activity
            android:name=".AdminEditUserProfile"
            android:exported="true" />
        <activity
            android:name=".ViewListUser"
            android:exported="true" />
        <activity
            android:name=".ViewProductAdmin"
            android:exported="true" />
        <activity
            android:name=".AboutUsAdmin"
            android:exported="true" />
        <activity
            android:name=".AboutUs"
            android:exported="true" />
        <activity
            android:name=".AdminProfileActivity"
            android:exported="true" />
        <activity
            android:name=".AdminPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".AdminUpdateProfile"
            android:exported="true" />
        <activity
            android:name=".AdminUpdatePassword"
            android:exported="true" />
        <activity
            android:name=".AdminHomepage"
            android:exported="true" />
        <activity
            android:name=".AdminLogInActivity"
            android:exported="true" />
        <activity
            android:name=".AdminRegActivity"
            android:exported="true" />
        <activity
            android:name=".UpdatePassword"
            android:exported="true" />
        <activity
            android:name=".UpdateProfile"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".PasswordActivity"
            android:exported="true" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".SecondActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>